<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="/css/info.css" rel="stylesheet" type="text/css" media="all">
<title>お店詳細</title>
</head>
<body>
	<div class="container">
	<h1 class="fs-5">お店詳細</h1>
	<form th:object="${shopInfo}" th:action="@{/shop/save}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label for="name">名前:</label>
        <input id="name" type="text" th:field="*{name}" /><br>

        <label for="email">種別:</label>
        <input id="email" type="text" th:field="*{type}" /><br>

        <label for="phone">電話番号:</label>
        <input id="phone" type="text" th:field="*{phone}" /><br>

		<label for="sales">売上:</label>
		<input id="sales" type="text" th:field="*{sales}" /><br>

		<span class="fw-bolder">登録日:</spanp>
		<span th:text="${#dates.format(shopInfo.createdDate, 'yyyy-MM-dd')}"></span>

	<div class="container margin">
		<form th:action="@{/shop/save}" method="post" style="display: inline;">
		    <input type="hidden" name="_method" value="put">
		    <button type="submit" class="btn btn-primary">保存</button>
		</form>
		<a th:href="@{/shop/{id}(id=*{id})}" class="btn btn-primary">戻る</a>
	</div>
	</form>
  </div>
</body>
</html>