<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ShopMapper">

    <select id="selectAll" resultType="com.example.demo.entity.Shop">
        SELECT * FROM shop LIMIT 100
    </select>
    
    <select id="selectShopById" parameterType="Long" resultType="com.example.demo.entity.Shop">
        SELECT * FROM shop WHERE id = #{id}
    </select>
    
    <update id="updateShop" parameterType="com.example.demo.entity.Shop">
        UPDATE shop SET name = #{name}, type = #{type}, phone = #{phone}, sales = #{sales} WHERE id = #{id}
    </update>
    
    <select id="getMaxId" resultType="Long">
        SELECT COALESCE(MAX(id)+1, 1) FROM shop
    </select>
    
    <insert id="insertShop" parameterType="com.example.demo.entity.Shop">
        INSERT INTO shop (id, name, type, phone, sales, created_date)
        VALUES (#{id}, #{name}, #{type}, #{phone}, #{sales}, now());
    </insert>
    
    <delete id="deleteShop" parameterType="Long">
        DELETE FROM shop WHERE id = #{id}
    </delete>
    
</mapper>